{%extends 'convidado/base.html'%}
{%load static%}
{% load bootstrap %}
{%block menu%}
<nav class="navbar navbar-dark bg-dark rounded">
  <!-- Conteúdo do navbar -->

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light bg-dark " href="{%url 'eventos'%}">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-light bg-dark" href="{%url 'convidados'%}">Convidados</a>
      </li>
      <li class="nav-item">
         <a class="nav-link text-light bg-dark" href="{%url 'logout'%}" >Logout</a>
      </li>
    </ul>
    <div>
        <img src="{% static '/img/cerveja.png'%}">
    </div>
</nav>
{%endblock%}
{%block main%}
<div class="row justify-content-md-center">
    <div class="col-lg-5">
        <h2 align="center">Editar Convidado</h2>

        <form action= "{% url 'convidadoUpdate' convidado.id %}" method ="POST">
            {%csrf_token%}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-dark">Atualizar</button>
            <a href="{%url 'convidadoDelete' convidado.id %}" class="btn btn-danger">Deletar</a>
        </form>
        <br>
    </div>
</div>
{%endblock%}
