{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">
</head>

<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
    </div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50 rounded">
    <div class="container text-center">
      <small >Emerson 2020 © Todos os direitos reservados</small>
    </div>
  </footer>
</body>

</html>