{%extends 'evento/base.html'%}
{% load bootstrap %}
{%load static%}
{%block menu%}
<nav class="navbar navbar-dark bg-dark rounded">
  <!-- Conteúdo do navbar -->

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active text-light bg-dark" href="{%url 'eventos'%}">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light bg-dark" href="{%url 'convidados'%}">Convidados</a>
      </li>
      <li class="nav-item">
         <a class="nav-link text-light bg-dark" href="{%url 'logout'%}" >Logout</a>
      </li>



    </ul>
    <div>
        <img src="{% static '/img/cerveja.png'%}">
    </div>
</nav>

{%endblock%}
{%block main%}
<div class="row justify-content-md-center">
    <div class="col-lg-4">
        <form action= "{% url 'newEvento' %}" method ="POST">
            <h2 align="center">Eventos</h2>
            {%csrf_token%}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-dark">Cadastrar</button>
        </form>
    </div>
    <div class="col-lg-7 overflow-auto">
        <h2 align="center">Lista Eventos</h2>
        <table class="table rounded" >
          <thead class="thead-dark rounded">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Festa</th>
              <th scope="col">Data</th>
              <th scope="col">Local</th>
              <th scope="col">Endereço</th>
              <th scope="col">Convidados</th>
              <th scope="col">Deletar</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
        </table>
        <div class="anyClass">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar.." class="text-light bg-dark rounded">

            <table class="table" id="myTable" >
                <tbody>
                    {%for eventos in eventos%}
                    <tr>
                      <th scope="row">{{eventos.id}}</th>
                      <td>{{eventos.nome_festa}}</td>
                      <td>{{eventos.data}}</td>
                      <td>{{eventos.local}}</td>
                      <td>{{eventos.endereco}}</td>
                      <td>
                          <a class="btn btn-outline-dark" href="{%url 'convidadoEvento' eventos.id %}">
                              <i class="fas fa-user-alt"></i>
                          </a>
                      </td>
                      <td>
                          <a class="btn btn-outline-dark" href="{%url 'deleteEvento' eventos.id %} ">
                              <i class="fas fa-trash"></i>
                          </a>
                      </td>
                      <td>
                          <a class="btn btn-outline-dark" href="{%url 'updateEvento' eventos.id %} ">
                              <i class="fas fa-user-edit"></i>
                          </a>
                      </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>
{%endblock%}








